* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  --bg-color:#EDF2ff;
--text-color:#00082f;
--primary-color:#4263eb ;
--primary-color-dark:#364fc7;
}
body.dark-blue{
  --bg-color:#00082f;
--text-color:#edf2ff;
}
body.pink{
--bg-color: ■#FFF8F6;
--text-color: #1F008B;
--primary-color: #D6336C;
--primary-color-dark:#A61ead;
}
:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.6rem;
  background:var(--bg-color);
  color: var(--text-color);
} 
a{
  text-decoration: none;

}
.container{
  
  text-align: center;
  width: 30rem;
  margin-inline: auto;
  margin-top: 6rem;
}
img{
  width: 100%;
}
img.avatar{
border-radius: 50%;
width: 10rem;
height: 10rem;
border:var(--primary-color) solid 4px;
padding: .3rem;
}
.username{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: .8;
  font-size: 1.8rem;
}
ul{
  list-style: none;
  margin: 4.8rem 0;
}
h1{
  margin-top: 2.4rem;
  margin-bottom: .8rem;
  font-size: 3.2rem;
}
ul li a{
  display: flex;
  height: 5.3rem;
  align-items: center;
  justify-content: center;
  background:var(--primary-color);
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  border-radius: .6rem;
  transition: background .2s;
}
ul li a:hover{
  background:var(--primary-color-dark);
}
footer{
  font-weight: 500;
  font-size: 1.2rem;
  opacity: .6;
  transition: .4s;
  cursor: pointer;
}
 
footer:hover{
  opacity: 1;
}

























